
body{
    background-color: rgb(64, 114, 114);
    background-image: url('/public/img/bgHeros.jpeg');
    font-family: poiret;
}
h1, h2{
    text-align: center;
}
h1{
    color: rgb(55, 65, 99);
}

footer{
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.589);
    padding: 20px;
    text-align: center;
    color:  rgb(75, 111, 226);
}

@media screen and (min-width: 1300px){
    body{
        background-size: cover;
    }
}